<title>My application deployed automatically</title>
  <h1>Hello, World!</h1>
  <div>
      <p>
          This addAndMultiply method takes an integer arraylist in first input,
          takes an integer array in second input and takes two strings at third and fourth input.
          Then, the method multiples the first string's length with sum of arraylist elements and multiplies the second string's length
          with sum of int array elements. Finally, it returns the sum of 2 multiplation.
      </p>
      <p>Result is {{answer}}</p>
  </div

  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <textarea name="input3" rows="10" cols="30"></textarea>
        <textarea name="input4" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
