<title>My application deployed automatically</title>
  <h1>Hello, World!</h1>
  <h2>This addAndMultiply method takes an integer arraylist in first input,
  takes an integer array in second input and takes two strings at third and fourth input.</h2>
  <h3>Then, the method multiples the first string's length with sum of arraylist elements and multiplies the second string's length
  with sum of int array elements. Finally, it returns the sum of 2 multiplation.</h3>
  <h4>Warning: When you are entering the numbers to array and arrayList, you have to enter the numbers one under the other!</h4>

    Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <textarea name="input3" rows="10" cols="30"></textarea>
        <textarea name="input4" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
